@model IEnumerable<BusinessLoanMVC.DataService.User>

@{
    ViewBag.Title = "ViewAllUsers";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="text-center m-2">All Loan Applicants</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AadhaarNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PanNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MobileNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserRole)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AadhaarNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PanNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MobileNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserRole)
        </td>
        <td>
            <div>
                <div class="btn btn-link p-0" data-bs-toggle="modal" data-bs-target="#myModal">
                    @Ajax.ActionLink("Edit", "EditUser", "User", new { userName = item.Username },
                                    new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "divEditUser", InsertionMode = InsertionMode.Replace },
                                    htmlAttributes: new { @class = "" })
                </div>
                <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" >
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-center"  id="exampleModalLabel">Edit User</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div id="divEditUser"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
}

</table>
