@model  BusinessLoanMVC.UI.Models.LoanDetailsDTO

<div class="">
    <div class="row p-1">
        <div class="col-4 "> Full Name </div>
        <div class="col-8">:  @Model.user.FullName </div>
    </div>
    <div class="row p-1">
        <div class="col-4"> Email</div>
        <div class="col-8">:  @Model.user.Email</div>
    </div>
    <div class="row p-1">
        <div class="col-4"> Address </div>
        <div class="col-8">:  @Model.user.Address </div>
    </div>
    <div class="row p-1">
        <div class="col-4"> Aadhaar Number </div>
        <div class="col-8">:  @Model.user.AadhaarNumber </div>
    </div>
    <div class="row p-1">
        <div class="col-4"> Pan Number </div>
        <div class="col-8">:  @Model.user.PanNumber </div>
    </div> 
    <div class="row p-1">
        <div class="col-4"> Mobil Number</div>
        <div class="col-8">:  @Model.user.MobileNumber</div>
    </div> 
    <div class="row p-1">
        <div class="col-4"> Salary </div>
        <div class="col-8">:  @Model.user.Salary </div>
    </div>
    <div class="row p-1">
        <div class="col-5"> Download Document</div>
        <div class="col-7"> </div>
    </div>

</div>
